{% extends 'base.html.twig' %}

{% block title %}
    {{ parent () }} | Contact
{% endblock %}

{% block body %}
    <div class="contacts container mt-5 mb-5">
        {{ form_start(viewForm) }}
        <h2>{{ 'CONTACT-US' | trans }}</h2>
        {{ form_widget(viewForm) }}
        <button class="btn button">{{ 'Send' | trans }}</button>
        {{ form_end(viewForm) }}
        <div>
            <h2>{{ 'CONTACT INFO' | trans }}</h2>
            <div class="c-infos container">
                    <div class="img-box">
                        <img src="{{ asset('build/images/HouseSimple.png') }}" alt="address" >
                    </div>
                <div >
                        <p>VisitNz</p>
                        <p>33 rue des AllBlacks</p>
                        <p>44000 Nantes</p>
                    </div>

                    <div class="img-box">
                        <img src="{{ asset('build/images/PhoneCall.png') }}" alt="Phone">
                    </div>
                    <p >02.40.30.20.10</p>

                    <div class="img-box">
                        <img src="{{ asset('build/images/EnvelopeOpen.png') }}" alt="Mail">
                    </div>
                    <p>contact@visitNz.com</p>

            </div>
        </div>
    </div>
{% endblock %}