{% extends 'base.html.twig' %}

{% block title %}{{ parent () }} | experience.title{% endblock %}

{% block body %}
    <div class="detail m-5 p-4">
        <img src="{{ experience.imgUrl }}" alt="{{ experience.title }}">
        <div class="detail-info p-5">
            <h2>{{ experience.title | upper }}</h2>
            <h3>{{ experience.price }}€<span>{{'/day' | trans}}</span></h3>
            <p>{{ experience.description }}</p>
            <a href="{{ path('app_contact')}}" class=" btn button">{{ 'I want to book this experience' | trans }} </a>
        </div>
    </div>
    <div class="container m-5">
        <a href="{{ path('app_experience')}}" class=" btn button">{{ 'Go back to the experiences' | trans }} </a>
    </div>

{% endblock %}