{% extends 'base.html.twig' %}

{% block title %}{{ parent () }} | {{ experience.title }}{% endblock %}

{% block body %}
    <div class="experience">
        <h2>{{ experience.title | upper }}</h2>
                <img src="{{ experience.imgUrl }}" alt="{{ experience.title }}">
                <p>{{ experience.price }}€/day</p>
                <p>{{ experience.description }}</p>
                <a href="{{ path('app_experience_edit', {'id' : experience.id }) }}" class=" btn button">Edit</a>
    </div>
{% endblock %}