{% extends 'base.html.twig' %}

{% block title %}{{ parent () }} | {{ 'Edit Experience' | trans }}{% endblock %}

{% block body %}
    <div class="edit container mt-5 mb-5">
        <h2>{{ 'Edit Experience' | trans }}</h2>
            {{ include('experience/_form.html.twig', {'button_label': 'Update' }) }}
        <a href="{{ path('app_admin') }}" class="button btn">{{ 'Back to list'| trans }}</a>
    </div>

{% endblock %}