{% extends 'base.html.twig' %}

{% block title %}{{ parent () }} | {{ 'Our Experiences' | trans }}{% endblock %}

{% block body %}
<div class="experiences container mt-5 mb-5">
    {% for experience in experiences %}
        <div class="card pb-3">
            <img src="{{ experience.imgUrl }}" alt="{{ experience.title }}">
            <div class="card-content p-3">
            <h3>{{ experience.title | upper }}</h3>
            <p>{{ experience.price }}€<span>{{'/day' | trans}}</span></p>
            </div>
            <div class="buttons">
            <a href="{{ path('app_experience_details', {'id' : experience.id }) }}" class=" btn button">{{ 'See More' | trans}}</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
