{% extends 'base.html.twig' %}

{% block title %}{{ parent () }} | Page not found{% endblock %}

{% block body %}
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">{{ 'Sorry' | trans}}!</span>
                    <div class="mb-4 lead">{{ 'The page you are looking for was not found' | trans }}.</div>
                    <a class="btn button" href="{{ path('app_main') }}"  class="btn btn-link">{{ 'Back to Home' | trans }}</a>
                    <img style="width: 10rem" src="{{ asset('build/images/Sad_Kiwi.gif') }}" alt="Logo">
                </div>
            </div>
        </div>
    </div>


{% endblock %}